.descripcion-general {
background-color: #00000000;
color: #e0e0e0;
padding: 10%;

h2 {
    color: #e2ba08;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}
    .registro-item {
    background-color: #1e1e1e;
    border-left: 4px solid #ffcc00;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;

    .empleado {
        font-size: 1.1rem;
        color: #ffffff;
        margin-bottom: 0.4rem;
    }

    .horario {
        color: #cccccc;
        margin-bottom: 0.3rem;
    }

    .herramientas {
        color: #bbbbbb;
    }
    }
}

